.book-info-card-main {
    padding: 30px 0;
}

.book-info-card-main label{ 
    font-size: 14px;
    color: gray;
}

.book-info-card-main h1 {
    width: 75%;
}

.book-info-card-main div p {
    margin-top: 3px;
}

.author-desgin {
    border: 2px solid black;
    width: fit-content;
    padding: 5px;
}

@Media screen and (max-width: 768px) {
    .book-info-card-main h1 {
        width: 50%;
    }
}