.sucess-message-container {
    width: fit-content;
    height: 60px;
    position: absolute;
    top: 20px;
    right: 60px;
    padding: 0 20px;
    background-color: rgb(28, 28, 75);
    color: #fff;
    display:  flex;
    align-items: center;
    border-radius: 5px;
    transition: opacity 0.75s ease, visibility 0.75s ease;
    overflow: hidden;
}

.move-down {
    top: 80px;
    right: 20px;
}

.fade {
    opacity: 0;
}