.all-books-main {
    margin-top: -20px;
    border-top: 1px solid;
}

.all-books-main-inner {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.all-books-display {
    position: relative;
    width: 89%;
    padding: 0 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.all-book-alphabet-filter-card {
    display: flex;
    flex-wrap: wrap;
}
